{{! //////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/menu/kando           //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT
}}

<!--
  This tab displays a grid of buttons which can be used to select the active menu.
-->

<div class='d-flex h-100 flex-column flex-lg-row-reverse'>

  {{!-- <div class='d-flex kando-font flex-lg-column m-3 gap-1'>
    <button class='btn btn-secondary text-start fs-6 disabled'>
      <i class='material-symbols-rounded inline-icon mx-1'>cloud_download</i>Get Menus Online
    </button>
    <button class='btn btn-secondary text-start fs-6 disabled'>
      <i class='material-symbols-rounded inline-icon mx-1'>upload</i>Export Menus
    </button>
    <button class='btn btn-secondary text-start fs-6 disabled'>
      <i class='material-symbols-rounded inline-icon mx-1'>download</i>Import Menus
    </button>
  </div> --}}

  {{!-- <div class='swirl1 vertical align-self-center d-none d-lg-block mx-3' style="height: 150px;"></div> --}}

  <div class='flex-grow-1 align-content-start scrollbox mx-2'>
    <div class="scrollbox-content toolbar-button-grid">
      {{#each menus}}
        <div>
          <div id="menu-button-{{index}}" class="d-flex btn btn-secondary toolbar-menu-button {{#if checked}} checked {{/if}}">
            <div>
              {{{icon}}}
            </div>
            <div class="align-self-center">
              <div class="name kando-font fs-4">{{name}}</div>
              <div class="description fs-6">{{description}}</div>
            </div>
          </div>
        </div>
      {{/each}}
      <div>
        <button class='d-flex kando-font btn btn-secondary add-menu-button'>
          <div>
            <div class='icon-container'>
              <i class='material-symbols-rounded inline-icon mx-1'>add</i>
            </div>
          </div>
          <div class="name kando-font fs-4 align-self-center">{{strings/createMenuButton}}</div>
        </button>
      </div>
    </div>
  </div>
 
</div>