{{! //////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/menu/kando           //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT
}}

<!--
  This tab displays a grid of large buttons which can be used to select the current menu
  theme. Each button shows a preview of the theme, its name and author, and a set of color
  buttons which can be used to change the theme's colors.
-->

<div class='d-flex h-100 flex-column'>

  <div class="m-3 mb-2 fs-5 align-self-center">{{{strings/hint}}}</div>

  <div class='flex-grow-1 align-content-start scrollbox mx-2'>
    <div class="scrollbox-content toolbar-button-grid">
      {{#each themes}}
        <div data-theme-id="{{id}}" style="background-image: url({{preview}})" class="btn btn-secondary w-100 toolbar-theme-button {{#if checked}} checked {{/if}}">
          
          <div class="color-picker-container d-flex flex-column ">

            <div class="align-self-center px-3 py-5">
              <div class="color-name kando-font fs-3 mb-2">foo</div>
              <div class="color-picker pb-2"></div>
              <input type="text" class="form-control fs-6" spellcheck="false" size="10"></input>
            </div>

            <div class="d-flex flex-row p-2 justify-content-between align-items-center">
              <button class="btn btn-secondary py-0 px-2 kando-font fs-1" data-bs-toggle="tooltip" data-bs-title="{{../strings/resetColorPicker}}">
                <i class="material-symbols-rounded inline-icon">reset_settings</i>
              </button>
              <div class="d-flex gap-2">
                {{#each colors}}
                  <div class="btn color-button p-2 mb-1"  data-bs-toggle="tooltip" data-bs-title="{{@key}}" data-theme-id="{{../id}}" data-color-name="{{@key}}" style="background-color: {{this}}"></div>
                {{/each}}
              </div>
              <button class="btn btn-secondary py-0 px-2 kando-font fs-1" data-bs-toggle="tooltip" data-bs-title="{{../strings/closeColorPicker}}">
                <i class="material-symbols-rounded inline-icon">done</i>
              </button>
            </div>

          </div>

          <div class="theme-button-footer d-flex flex-row p-2 justify-content-between">
            <div class="ps-1">
              <div class="kando-font text-start fs-4">{{name}}</div>
              <div class="text-start fs-6">{{author}}</div>
            </div>
            <button class="edit-colors-button btn btn-secondary align-self-end fs-5 kando-font">
             <i class="material-symbols-rounded inline-icon">edit</i> {{../strings/editColors}}
            </button>
          </div>

        </div>
      {{/each}}
    </div>
  </div>

  <label class="d-flex m-3 mt-0 gap-3 align-items-end">
    <input id="kando-menu-theme-enable-dark-mode" type="checkbox" class="form-check-input" {{#if darkMode}} checked {{/if}} />
    <div>
      <div class='kando-font fs-2'>
        {{strings/darkMode}}
      </div>
      <div class="fs-5">
        {{strings/darkModeHint}}
      </div>
    </div>
  </label>

  
 
</div>