{{! //////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/menu/kando           //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT
}}

<!--
  This tab displays a grid of buttons which can be used to select the active menu.
-->

<div class='d-flex h-100 flex-column'>

  <div class='flex-grow-1 align-content-start scrollbox mx-2'>
    <div class="scrollbox-content toolbar-button-grid">
      {{#each themes}}
        <div>
          <div data-theme-id="{{id}}" class="btn btn-secondary toolbar-theme-button {{#if checked}} checked {{/if}}">
            <img src="{{preview}}" />
            <div class="my-2 d-flex flex-row justify-content-between">
              <div>
                <div class="name kando-font fs-4">{{name}}</div>
                <div class="description fs-6">by {{author}}</div>
              </div>
              <div class="align-self-center px-3">
                {{#each colors}}
                  <div class="btn color-button"  data-bs-toggle="tooltip" data-bs-title="{{name}}" style="background-color: {{default}}"></div>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

  <div class='d-flex justify-content-between'>
    <label class="d-flex m-3 gap-2 align-items-end">
      <input id="kando-menu-theme-enable-dark-mode" type="checkbox" class="form-check-input"/>
      <div class="flex-grow-1">
        <div class='kando-font fs-3'>
          Use Separate Settings for Dark Mode
        </div>
        <div class="fs-6">
          If enabled, you can choose a different theme and colors if the system is in dark mode.
        </div>
      </div>
    </label>

    <div class="m-3 align-self-end" style="width: 30%;">In the future, we will have an online repository for menu themes. For now, you can <a target="_blank" href="https://github.com/kando-menu/kando/blob/main/docs/menu-themes.md">learn how to create your own themes</a> and share them in <a target="_blank" href="https://discord.gg/hZwbVSDkhy">Kando's Discord Server</a>!</div>
  </div> 
 
</div>