{{! //////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/menu/kando           //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT
}}

<!--
  This tab displays a grid of buttons which represent deleted menus or stashed menu items.
-->

{{#if items}}
  <div class='h-100 scrollbox mx-2'>
    <div class="scrollbox-content toolbar-button-grid">
      {{#each items}}
        <div>
          {{#if isMenu}}
            <div id="{{../type}}-item-{{index}}" class="d-flex kando-font btn btn-secondary toolbar-menu-button">
              <div>
                {{{icon}}}
              </div>
              <div class="align-self-center">
                <div class="name fs-4">{{name}}</div>
                <div class="description fs-6">{{description}}</div>
              </div>
            </div>
          {{else}}
            <div id="{{../type}}-item-{{index}}" class="d-flex kando-font btn btn-secondary toolbar-item-button">
              <div>
                {{{icon}}}
              </div>
              <div class="align-self-center">
                <div class="name fs-4">{{name}}</div>
                <div class="description fs-6">{{description}}</div>
              </div>
            </div>
          {{/if}}
        </div>
      {{/each}}
    </div>
  </div>
{{else}}
  <div class='d-flex flex-column justify-content-center h-100'>
    <div class='text-center kando-font fs-2'>
      {{placeholderHeading}}
    </div>
    <div class='text-center kando-font fs-5'>
      {{placeholderSubheading}}
    </div>
    <div class='text-center mb-4 mt-2' >
      <span class='swirl1' style="width: 10vw;"></span>
    </div>
  </div>
{{/if}}
 