{{! //////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/menu/kando           //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT
}}

<div class="fs-1 kando-font">{{strings/heading}}</div>
<div class="fs-5 mb-1">{{strings/subheading}}</div>

{{> checkbox-option 
    label=strings/app
    hint=strings.appHint
    checkedHint=strings.appCheckedHint
    id="kando-properties-condition-app-checkbox"
}}

<div id="kando-properties-condition-app-collapse" class="collapse">
  <div class="input-group">
    <input id="kando-properties-condition-app" type="text" 
          class="form-control my-2 fs-3 kando-font" placeholder="{{strings/appPlaceholder}}">
    <button class="btn btn-primary align-self-center fs-3"
            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{strings/appTooltip}}">
      <i class='material-symbols-rounded inline-icon'>highlight_mouse_cursor</i>
    </button>
  </div>
</div>

{{> checkbox-option 
    label=strings/window
    hint=strings.windowHint
    checkedHint=strings.windowCheckedHint
    id="kando-properties-condition-window-checkbox"
}}

<div id="kando-properties-condition-window-collapse" class="collapse">
  <div class="input-group">
    <input id="kando-properties-condition-window" type="text" 
          class="form-control my-2 fs-3 kando-font" placeholder="{{strings/windowPlaceholder}}">
    <button class="btn btn-primary align-self-center fs-3"
            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{strings.windowTooltip}}">
      <i class='material-symbols-rounded inline-icon'>highlight_mouse_cursor</i>
    </button>
  </div>
</div>

{{> checkbox-option 
    label=strings/screen
    hint=strings.screenHint
    checkedHint=strings.screenCheckedHint
    id="kando-properties-condition-screen-checkbox"
}}

<div id="kando-properties-condition-screen-collapse" class="collapse">
  <div id="kando-properties-condition-screen-hint" class="fs-5 kando-font"></div>
  <div class="input-group my-2">
    <input id="kando-properties-condition-screen-x-min" type="number" class="form-control fs-3 kando-font" placeholder="{{strings/leftPlaceholder}}">
    <input id="kando-properties-condition-screen-x-max" type="number" class="form-control fs-3 kando-font" placeholder="{{strings/rightPlaceholder}}">
    <input id="kando-properties-condition-screen-y-min" type="number" class="form-control fs-3 kando-font" placeholder="{{strings/topPlaceholder}}">
    <input id="kando-properties-condition-screen-y-max" type="number" class="form-control fs-3 kando-font" placeholder="{{strings/bottomPlaceholder}}">
  </div>
</div>

<div class='d-flex justify-content-end mt-3'>
  <button class="btn btn-secondary fs-3 kando-font my-3 px-5 ms-auto" id="kando-properties-condition-picker-done">{{strings/done}}</button>
</div>