{{! //////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/menu/kando           //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT
}}

<div>
  <div class='row mb-3' style="user-select: text;">
    {{#each infos}}
      <div class='col-6'>{{label}}:</div>
      <div class='col-6'>{{value}}</div>
    {{/each}}
  </div>
  <div class='row g-2'>
    {{#each buttons}}
      <span class='{{class}}'>
        <button id='{{id}}' class='btn btn-secondary w-100' data-bs-toggle='tooltip'
          {{#if tooltip}}
            data-bs-title='{{tooltip}}'
          {{/if}}
        >
          <i class='material-symbols-rounded inline-icon'>{{icon}}</i>
          {{title}}
        </button>
      </span>
    {{/each}}
  </div>
</div>