{{! //////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/menu/kando           //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT
}}

<div class="fs-1 kando-font">{{strings/heading}}</div>
<div class="fs-5 mb-3">{{{strings/subheading}}}</div>

<select class="form-select fs-3 kando-font form-control" id="kando-properties-icon-theme-select">
  {{#each themes}}
    <option value="{{key}}">{{name}}</option>
  {{/each}}
</select>

<div id="kando-properties-icon-picker" class='d-flex flex-column' style="height: 30vh; position: relative"></div>

<div class='d-flex justify-content-end'>
  <button class="btn btn-secondary fs-3 kando-font me-3 my-3 px-5 ms-auto" id="kando-properties-icon-picker-cancel">{{strings/cancel}}</button>
  <button class="btn btn-secondary fs-3 kando-font my-3 px-5" id="kando-properties-icon-picker-ok">{{strings/done}}</button>
</div>