{{! //////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/menu/kando           //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT
}}

<!--
  This is the button in the upper left corner which opens the sidebar.
-->
<button id='show-sidebar-button' class='btn btn-dark fs-4'>
  <i class='material-symbols-rounded inline-icon'>info</i>
</button>

<!--
  This is the sidebar. It contains some information about the prototype and
  some example actions.
-->
<div id='{{areaId}}' class='visible'>
  <button id='hide-sidebar-button' class='btn btn-dark fs-4 rounded-end-circle visible'>
    <i class='material-symbols-rounded inline-icon'>close</i>
  </button>

  <div class='sidebar-item p-3'>
    <h1 class='display-5 kando-font'>Welcome to Kando!</h1>
    <p>
      Kando comes with a basic example menu. You can play with it, but you should create your own menus soon!
      You can open the menu editor by clicking on the gear icon in the lower right corner of the screen.
    </p>

    <div class="container-fluid">
      <div class="row gap-2 mb-2">
        <a target="_blank" href="https://ko-fi.com/schneegans" class='col btn btn-secondary'>
          ℹ️ News
        </a>
        <a target="_blank" href="https://discord.gg/hZwbVSDkhy" class='col btn btn-secondary'>
          💬 Chat on Discord
        </a>
      </div>
      <div class="row gap-2 mb-2">
        <a target="_blank" href="https://github.com/kando-menu/kando/blob/main/docs/configuring.md" class='col btn btn-secondary'>
          🛠️ Config Guide
        </a>
        <a target="_blank" href="https://schneegans.github.io/sponsors" class='col btn btn-secondary'>
          💞 Sponsors
        </a>
      </div>
      <div id="sidebar-show-new-version-button" class="row d-none">
        <a target="_blank" href="https://github.com/kando-menu/kando/releases" class='col btn btn-shine'>
          🍰 A new version of Kando is available!
        </a>
      </div>
    </div>
  </div>

  {{#each tabs}}
    <div id='{{id}}' class='sidebar-item accordion accordion-flush'>
      <div class='accordion-item'>
        <div class='accordion-header'>
          <button class='accordion-button collapsed' data-bs-toggle='collapse'
                  data-bs-target='#{{id}}-content'>
            <span class='fs-5'>
              <i class='material-symbols-rounded inline-icon'>{{icon}}</i>
              {{title}}
            </span>
          </button>
        </div>
        <div id='{{id}}-content' class='accordion-collapse collapse'>
          {{{content}}}
        </div>
      </div>
    </div>
  {{/each}}
</div>