{{! //////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/menu/kando           //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT
}}

<!--
  These are the five introduction videos. They are displayed in a carousel.
-->
<div id='{{id}}' class='carousel slide overflow-hidden'>
  <div class='carousel-indicators'>
    {{#each slides}}
      <button data-bs-target='#{{../id}}' data-bs-slide-to='{{@index}}'
              {{#if @first}} class='active' {{/if}}></button>
    {{/each}}
  </div>
  <div class='carousel-inner rounded-1'>
    {{#each slides}}
      <div class='carousel-item {{#if @first}} active {{/if}}'>
        <div class='carousel-caption'>
          <p>
            {{caption}}
          </p>
        </div>
        <video id='{{../id}}-video-{{@index}}' class='img-fluid' />
      </div>
    {{/each}}
  </div>
  <button class='carousel-control-prev' data-bs-target='#{{id}}' data-bs-slide='prev'>
    <span class='carousel-control-prev-icon'></span>
  </button>
  <button class='carousel-control-next' data-bs-target='#{{id}}' data-bs-slide='next'>
    <span class='carousel-control-next-icon'></span>
  </button>
</div>